<aside>
    <ul class="sidebar-itens">
        <li class="sidebar-item">
            <button #transacao="routerLinkActive" class="sidebar-button" [routerLink]="['/painel/transacao']"
                tabindex="-1" [ngClass]="{'sidebar-button-ativo': transacao.isActive }" routerLinkActive>
                <mat-icon>
                    attach_money
                </mat-icon>
            </button>
        </li>

        <li class="sidebar-item">
            <button #categoria="routerLinkActive" class="sidebar-button" [routerLink]="['/painel/categoria']"
                tabindex="-1" [ngClass]="{'sidebar-button-ativo': categoria.isActive }" routerLinkActive>
                <mat-icon>
                    category
                </mat-icon>
            </button>
        </li>
    </ul>
</aside>

<!-- // TODO AJUSTAR SIDEBAR -->

<!-- <div #empresas="routerLinkActive" class="modulo" tabindex="-1" matRipple routerLinkActive
        [routerLink]="['/painel/empresas/']" (click)="realizaAlteracaoDeModulo()">
        <mat-icon fontIcon="store" class="modulo-icone"
            [ngClass]="{'modulo-icone-ativo': empresas.isActive }"></mat-icon>
        <p class="modulo-texto" [ngClass]="{'modulo-texto-ativo': empresas.isActive }">
            Empresas
        </p>
    </div> -->