app-header {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 3rem;
    width: 100vw;
}

.content {
    height: calc(100vh - 3rem);
    display: flex;
    width: 100vw;
    float: left;

    app-sidebar {
        width: 4rem;
        height: 100%;
    }

    main {
        width: calc(100% - 4rem);
        height: 100%;
        max-height: 100%;
        background-color: var(--global-background);
        padding: 2rem;
    }
}