<section>
    <div class="row content">

        <div class="row title-container">
            <h1 class="title">Transações</h1>
            <h3 class="subtitle">Abaixo é possível visualizar e gerenciar suas transações</h3>
        </div>

        <div class="hr-container">
            <hr class="divider">
        </div>

        <div class="menu">
            <div class="actions-container">
                <button class="add-button" type="button" [routerLink]="['/painel/transacao/cadastro']">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <form *ngIf="obtemFormularioBusca() != undefined" [formGroup]="obtemFormularioBusca()"
                class="search-container">
                <input type="text" placeholder="Pesquisar..." class="search-input" formControlName="valorPesquisa">
                <input type="month" placeholder="Mês e ano" class="date-input" formControlName="mesAnoPesquisa">
                <select class="filter-select" formControlName="tipoPesquisa" formControlName="tipoPesquisa">
                    <option value="ALL">Todos</option>
                    <option value="INPUT">Entradas</option>
                    <option value="OUTPUT">Saídas</option>
                </select>
            </form>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th>Vencimento</th>
                        <th>Categoria</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of obtemConteudo()">
                        <td class="td">
                            <span>
                                {{ item.description }}
                            </span>
                        </td>
                        <td class="td">
                            <span>
                                {{ item.value | currency: 'BRL': 'symbol' }}
                            </span>
                        </td>
                        <td class="td">
                            <span>
                                {{ item.expirationDate| date: 'dd/MM/yyyy' }}
                            </span>
                        </td>
                        <td class="td">
                            <span>
                                {{ item.categoryName }}
                            </span>
                        </td>
                        <td class="td">
                            <span>
                                {{ item.status }}
                            </span>
                        </td>
                        <td class="td td-actions">
                            <button>
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button>
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>